@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksands/Quicksand-Regular.ttf')  format('truetype')
}
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}
*{
  box-sizing: border-box;
}
a, button{
  outline: none;
}
img, video{
  display: block;
  max-width: 100%;
}
header{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
footer{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}
.container{
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &--testimonials{
    position: relative;
    max-width: 1240px;
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and (max-width: 767px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}