/*Slider*/
.slick{
  &-list {
    overflow: visible;
  }
  &-current .testimonials-slider__item {
    width: 540px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &-track {
    display: flex !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  &-slide {
    outline: none;
  }
}